.leaderboards-container {
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #3a6073;
  }
  
  .leaderboards-container h1 {
    font-size: 2rem;
    color: #ff8e2b;
    margin-bottom: 1rem;
  }
  
  .leaderboards-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .leaderboards-table th,
  .leaderboards-table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
  }
  
  .leaderboards-table th {
    background: #3a6073;
    color: white;
  }
  
  .leaderboards-table tr:nth-child(even) {
    background: #f9f9f9;
  }
  
  .leaderboards-table tr:hover {
    background: #eb8e24;
    color: white;
  }

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .leaderboards-container {
      padding: 1rem;
  }

  .leaderboards-container h1 {
      font-size: 1.5rem!important; /* Μειώνεται από 2rem */
  }

  .leaderboards-container p {
      font-size: 0.9rem!important; /* Μειώνεται από 1rem */
  }

  .leaderboards-table th {
      font-size: 0.9rem!important; /* Μειώνεται ελαφρώς */
  }

  .leaderboards-table td {
      font-size: 0.8rem!important; /* Μειώνεται ελαφρώς */
      padding: 0.5rem!important;
  }

  .mat-form-field {
      font-size: 0.9rem!important; /* Μειώνεται από 1rem */
  }

  .mat-select {
      font-size: 0.9rem!important;
  }

  .mat-select-placeholder {
      font-size: 0.85rem!important;
  }
}
  