.add-quiz-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
  }
  
  h2 {
    font-size: 2rem;
    color: #ff8e2b;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  textarea.mat-input-element {
    resize: none;
  }
  
  .validation-error {
    font-size: 0.875rem;
    color: #d10c0c;
    margin-top: 0.25rem;
    font-weight: 500;
  }
  
  .question-box {
    margin-top: 2rem;
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f7f9fc;
  }
  
  .question-box h3 {
    font-size: 1.5rem;
    color: #3a6073;
    margin-bottom: 1rem;
  }
  
 
  button {
    width: 75%;
    margin: 0 auto; 
    display: flex;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #3a6073;
    margin-top: 1.5rem;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }

  button:not([disabled]) {
    background-color: #3a6073;
  }
  
  button:hover:not([disabled]) {
    background-color: #365869;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

button {
    width: 45%;
}

.cancel-btn {
  background-color: #ff8e2b!important;
  color: white!important;
}

.cancel-btn:hover {
  background-color: #f18729!important;
  color: white!important;
}

  @media (max-width: 768px) {
    .add-quiz-container {
      padding: 1rem;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  
    .question-box h3 {
      font-size: 1.25rem;
    }
  
    button {
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .add-quiz-container {
      padding: 0.5rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    .question-box h3 {
      font-size: 1.2rem;
    }
  
    button {
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
    }
  }
  